@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

:root {
  --background-color: #161620;
  --text-color: hsla(0, 0%, 100%, 0.8);
  --highlight-color: #569cd6;
  --panel-background: hsla(0, 0%, 100%, 0.05);
  --border-color: hsla(0, 0%, 100%, 0.1);
  --divider-color: #333;
}

:root * {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}

#root {
  max-width: 1200px; /* Set a max width for the root element */
  margin: 0 auto; /* Center the root element */
}

* {
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  margin-top: 20px;
  color: var(--highlight-color);
}

button,
select,
input {
  /* margin: 0 auto 20px; */
  padding: 5px 10px;
  cursor: pointer;
  background-color: #3c3c3c; /* Dark background */
  color: var(--text-color);
  border: 1px solid transparent; /* Remove border for inputs and selects */
  /* border-radius: 3px; */
}

button:focus,
input:focus,
select:focus {
  border-color: var(--highlight-color);
  outline: none;
}

button {
  background-color: transparent; /* Make buttons transparent */
  border-color: var(--border-color); /* Add border for buttons */
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input[type="number"] {
  width: 60px; /* Set a fixed width for number inputs */
}

input[type="number"]:out-of-range {
  border-color: #ffcccc; /* Light red for out-of-range */
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

li {
  /* padding: 5px 0; */
}

fieldset {
  margin: 20px auto;
  /* padding: 15px; */
  border: 1px solid var(--border-color);
  /* border-radius: 5px; */
  background-color: var(--panel-background);
}

legend {
  padding: 5px;
  /* margin: 0 auto; */
  /* font-weight: bold; */
  color: var(--highlight-color);
}

#data-list {
  margin: 20px auto;
  padding: 10px;
}

#data-list ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns */
  gap: 10px; /* Add spacing between items */
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#ship-dashboard {
}

.bar-chart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.ship-name {
  display: block;
  width: 70px;
}

.bar-chart {
  background-color: var(--text-color);
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--text-color);
}

.bar-chart-container {
  position: relative;
  width: 50%;
  height: 6px;
  background-color: transparent;
}

.bar-chart-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  opacity: 0.2; /* Lighter opacity for the max value background */
}
