@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

:root {
  --background-color: #1e1e1e;
  --text-color: #d4d4d4;
  --highlight-color: #569cd6;
  --panel-background: #252526;
  --border-color: #444;
  --divider-color: #333;

  font-size: 16px;
}

:root * {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}

#root {
  max-width: 1200px; /* Set a max width for the root element */
  margin: 0 auto; /* Center the root element */
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  margin-top: 20px;
  color: var(--highlight-color);
}

button,
select,
input {
  margin: 0 auto 20px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #3c3c3c; /* Dark background */
  color: var(--text-color);
  border: 1px solid transparent; /* Remove border for inputs and selects */
  /* border-radius: 3px; */
}

button:focus,
input:focus,
select:focus {
  outline: 2px solid var(--highlight-color) !important;
}

button {
  background-color: var(--highlight-color);
}

ol {
  /* list-style-type: none; */
  /* padding: 0; */
}

li {
  padding: 5px 0;
}

fieldset {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid var(--border-color);
  /* border-radius: 5px; */
  background-color: var(--panel-background);
}

legend {
  padding: 0 10px;
  /* font-weight: bold; */
  color: var(--highlight-color);
}

#data-list {
  margin: 20px auto;
  padding: 10px;
}

#data-list ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Add spacing between items */
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
