/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/* Root Variables */
:root {
  --background-color: #161620;
  --text-color: hsla(0, 0%, 100%, 0.8);
  --highlight-color: #569cd6;
  --panel-background: hsla(0, 0%, 100%, 0.05);
  --border-color: hsla(0, 0%, 100%, 0.1);
  --border-color2: hsla(0, 0%, 100%, 0.6);
  --divider-color: #333;

  --blue: hsl(210, 90%, 60%); /* Vibrant blue */
  --green: hsl(140, 70%, 50%); /* Distinct green */
  --red: hsl(0, 75%, 55%); /* Bold red */
  --yellow: hsl(50, 85%, 60%); /* Bright yellow */
  --purple: hsl(270, 65%, 65%); /* Soft purple */
  --orange: hsl(30, 80%, 55%); /* Warm orange */

  --retion: var(--blue);
  --varrett: var(--green);
  --donbas: var(--red);
  --gesan: var(--yellow);
  --hyperion: var(--purple);
  --letios: var(--orange);
}

/* Global Styles */
* {
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
}

:root * {
  font-family: "Space Mono", "Courier New", Courier, monospace;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

/* Typography */
h1 {
  margin-top: 20px;
  color: var(--highlight-color);
}

/* Buttons, Inputs, and Selects */
button,
select,
input {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #3c3c3c;
  color: var(--text-color);
  border: 1px solid transparent;
}

button {
  background-color: transparent;
  border-color: var(--border-color);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:focus,
input:focus,
select:focus {
  border-color: var(--highlight-color);
  outline: none;
}

input[type="number"] {
  width: 60px;
}

input[type="number"]:out-of-range {
  border-color: #ffcccc;
}

/* Lists */
ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  /* Add padding if needed */
}

/* Fieldsets and Legends */
fieldset {
  margin: 20px auto;
  border: 1px solid var(--border-color);
  background-color: var(--panel-background);
}

legend {
  padding: 5px;
  color: var(--highlight-color);
}

#data-list {
  margin: 20px auto;
}

.ships-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Ship Dashboard */
.bar-chart {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--text-color);
  transition: width 0.5s ease-in-out; /* Added transition for animation */
}

.bar-chart.animate {
  transition: width 0.5s ease-in-out; /* Ensure animation is applied */
}

.bar-chart-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  opacity: 0.2;
}

.bar-chart-container {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: transparent;
}

.bar-chart-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ship-dashboard-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ship-name {
  display: block;
  width: 70px;
}

.ships-dashboard-inner {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  gap: 20px;
}

.total-ships {
  width: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid var(--border-color2);
}

.sort-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.ships-total-count {
  font-size: 2rem;
}

.ships-list .ship {
  text-transform: none;
}

.bar-chart.retion {
  background-color: var(--retion);
}

.bar-chart.varrett {
  background-color: var(--varrett);
}

.bar-chart.donbas {
  background-color: var(--donbas);
}

.bar-chart.gesan {
  background-color: var(--gesan);
}

.bar-chart.hyperion {
  background-color: var(--hyperion);
}

.bar-chart.letios {
  background-color: var(--letios);
}
